@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    min-height: 100vh;
    background: #111;
    color: #fff;
}

.heading {
    padding-top: 35px;
    text-align: center;
    font-size: 2rem;
}

.btn {
    margin: 20px auto;
    padding: 15px 60px;
    display: block;
    border: none;
    border-radius: 7px;
    background: rgb(246, 185, 72);
    color:rgb(1, 12, 1);
    font-size: 1.5rem;
    cursor: pointer;
}

.btn:hover { 
      background: #34e94f;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 33.3%;
    height: 140px;
    background: #fff;
    border: 2px solid rgb(195, 188, 188);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
}